* {   box-sizing: border-box; }  ::after,::before {   box-sizing: border-box; }  html, body {   height: 100%; }

header{
    height: 100px;
    background:rgba(0, 0, 0, 0.4);
}

.container {
    font-size: 14px;
    margin: 0 auto;
    width: 1168px;
}

.flex__box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.menu {
    border-left: none;
    font-size: 14px;
}

.menu ul{
    display: flex;
    justify-content: space-between;
    border-left: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li{
    border-left: none;
    padding: 25px 30px;
}

.menu a{
    transition: color 0.3s ease-in;
    text-decoration: none;
    color: aliceblue;
    font-family: Gill Sans Extrabold, sans-serif;
}


.menu a:hover{
    color: #41abda;
}

/*/test color for swiper/*/

.swiper-slide{
    background-color: #41abda;
}
