*{
    padding: 0; 
    margin: 0;
}
body{
    background: #fdfdfd; 
    font: 12px Arial;
    color: #555;
    line-height: 1.3;
}
.all_content{
    width: 732px; 
    margin: 0 auto;
}

.header{
    padding: 20px 0 0 0;
    margin-bottom: 20px;
}
.logo{
    display: block;
    margin: 0 auto 20px auto;
}
.menu{
    display: flex;
}

.menu{
    list-style: none;
    background-color: #fff;
    font-size: 14px;
    border-left: 1px solid #f3f3f3;
    border-top: 1px solid #f3f3f3;
    border-right: 1px solid #f3f3f3;
    border-bottom: 3px solid #84b0df;
}



.menu li{
    border-left: none;
    padding: 8px 30px;
}
.menu a{
    border-left: none;
}


.content h1{
    font: normal 24px "Tiimes New Roman";
    margin-bottom: 20px;
}

.content p{
    margin-bottom: 20px;
}
.content_left{
    display: flex;
    flex-direction: column;
}
.content_left{
    background-color: aliceblue;
    padding: 15px;
    width: 420px;
}

.content_right{
    display: flex;
    background-color: aliceblue;
    flex-direction: column;
    width: 240px;
    padding: 15px;
    justify-content:align-content;
    flex-wrap: wrap;
}

.main_content{
    display: flex;
    justify-content: space-between;
    
}


.swiper-slide img{
    width: 100%;
}